@page "/machines"
@using Industriell_Maskinpark_API.Models
@using Industriell_Maskinpark_API.ViewModels
@using Industriell_Maskinpark_Blazor.Services
@inject MachineService MachineService
@attribute [StreamRendering]

<PageTitle>Machines</PageTitle>

<h1>Machines</h1>

@if (machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Contact</th>
                <th>Last Msg</th>
                <th>Status</th>
                <th><span class="bi bi-message"></span></th>
                <th><span class="bi bi-trash"></span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in machines)
            {
                <tr>

                    <td>@machine.Id</td>
                    <td>@machine.Name</td>
                    <td>@machine.LatestContact</td>
                    <td>@machine.LastMessage</td>
                    <td>@machine.Status</td>
                    <td>
                        <button class="button-sizer">
                            Send Data
                        </button>
                    </td>
                    <td>
                        <button class="button-sizer">
                            Del
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MachineViewModel[]? machines;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        List<MachineViewModel> MachineListVM = new List<MachineViewModel>();
        List<Machine> machinesFromApi = await MachineService.GetMachinesAsync();

        foreach (Machine machine in machinesFromApi)
        {
            MachineViewModel VMMachine = new MachineViewModel(machine);
            MachineListVM.Add(VMMachine);
        }

        machines = MachineListVM.ToArray();
    }
}